@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

.message-ticker {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    background-color: #000000;
    padding: 10px;
    color: white;
}

.message-ticker span {
    display: inline-block;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    padding-right: 50px;
    animation: ticker 45s linear infinite;
}

@keyframes ticker {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    15% {
        opacity: 1;
    }
    85% {
        opacity: 1;
    }
    100% {
        transform: translateX(-180%);
        opacity: 0;
    }
}
